/*
 * Core styles served to all browsers.
 *
 * This file is based on normalize.css, see the link for details.
 *
 * v3.0.3 | MIT License | github.com/necolas/normalize.css
 */
/*
 * Document Level
 */
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-size: 1em;
}

/*
 * HTML5
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

[hidden],
template {
  display: none;
}

/*
 * Links
 */
a {
  color: #00f;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  color: #0000b3;
}

/*
 * Forms
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[dispabled] {
  cursor: default;
}

button:-moz-focus-inner,
input:-moz-focus-inner {
  border: 0;
  padding: 0;
}

.main_container {
  max-width: 30em;
  margin: 0 auto;
}

.row {
  padding: 1em;
}

/**
 * An example file of where to put css for a custom webpart.
 */

@media screen and (min-width: 40em) {
  .main_container {
    max-width: 40em;
  }
  .row {
    overflow: hidden;
  }
  .row [class*="column-"] {
    float: left;
  }
  .row .column-3-4 {
    width: 66.66667%;
  }
  .row .column-1-2 {
    width: 50%;
  }
  .row .column-1-3 {
    width: 33.33333%;
  }
  .row .column-1-4 {
    width: 25%;
  }
}

@media screen and (min-width: 60em) {
  .main_container {
    max-width: 60em;
  }
}

@media all {/*
   * Adds modern css core styles on top of the foundation styles.
   *//*
   * HTML5
   */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
